* 
{
    /*reset do css*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body 
{
    height: 100vh;
    
    background: rgb(223, 226, 17);
}
  
.constCartas 
{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.cartaUnica 
{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 3px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform-style: preserve-3d;
    transition: 0.5s;

}
.cartaUnica:active {

    transform: scale(0.97);
  
}
  
.front,
.back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute; /*posiciona um sobre o outro*/ 
    border-radius: 5px; /*borda curvada*/
    background: rgb(255, 255, 255);
}

.cartaUnica.flip 
{
    /*rotacionar a 180*/
    transform: rotateY(180deg);
}
.front{
    transform: rotateY(180deg);
}








